/*Global styling*/

body {
    background-color: #E6E6E6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abel', sans-serif;
    text-align: center
}

p {
    font-family: 'Anton', sans-serif;
}
.circle{
    width: 85px;
    height: 85px;
    border: solid white 3px ;
    border-radius: 50%;
    text-align: center;
}
#red{
    background-color: #E6563B;
}
#orange{
    background-color: #EB9D3A;
}
#green{
    background-color: #7cb06C;
}
#blue{
    background-color: #00ABA9;
}

@media screen and (min-width: 760px) {
    .thumbnails-lg {
        height: 150px;
        width: 200px;
    }
}

/*viewport small query*/
@media screen and (max-width:576px){
    .header {
        display: flex;
    }
    h1{
    text-align: center;
        background-color: white;
}
    h2 {
        text-align: center
    }
    h4{ text-align: center
    }
}