/*DEFAULT STRUCTURE*/
body{
    background-color: lightgray;
}
/*WHITE BACKGROUND LOGO*/
.line-background{
    height: 5em;
    background-color: white;
    margin-top: 2em;}
.left-nav{
    top: 1em;
    margin-right: 5em;
}

.right-nav {
    display: flex;
    justify-content:space-evenly;
    top: 1.5em;
}

/*HIDE NAV LINKS WHEN ENLARGED*/
.hideme *{
    display: none;
}
.small-links *{
    display: none;}
/*--------------------------*/

/*LOGO SIZE*/
.logo-size>img{
    height: 10em;}

/*LOGO CONTAINER AND NAV*/
.container{
    position: fixed;
    margin: 0;
    top: 0;}

.logo-container {
    text-align: center;
}

.hide-codeup{
    display: none;

}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/*VERY SMALL SCREEN TRANSITION*/
@media screen and (max-width:576px) {
    .logo-container {
    }
    .hideme *{
        display: flex;
    }
    .very-small-links{
        justify-content: space-evenly;
    }
    .hide-codeup{
        display: flex;
        justify-content: center;
    }

    .main-nav *{
        display: none;
    }
}
/*SMALL SCREEN TRANSITION*/
@media screen and (min-width: 577px) and (max-width:800px ) {
    .small-links {
        position: fixed;
        top: 3.5em;
        width: 100%;
    }

    .small-links * {
        display: inline-flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .logo-container {
        margin-left: 2em;
    }

    .hide-codeup{
        display: revert;
        margin-left: 1.7em;

    }
    #codeup-holder{
        display: flex;
        justify-content: center;

    }
    .main-nav *{
        display: none;
    }
}









































/*!*Global styling*!*/

/*body {*/
/*    background-color: #E6E6E6;*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
/*    font-family: 'Abel', sans-serif;*/
/*    text-align: center*/
/*}*/

/*p {*/
/*    font-family: 'Anton', sans-serif;*/
/*}*/
/*.circle{*/
/*    width: 85px;*/
/*    height: 85px;*/
/*    border: solid white 3px ;*/
/*    border-radius: 50%;*/
/*    text-align: center;*/
/*}*/
/*#red{*/
/*    background-color: #E6563B;*/
/*}*/
/*#orange{*/
/*    background-color: #EB9D3A;*/
/*}*/
/*#green{*/
/*    background-color: #7cb06C;*/
/*}*/
/*#blue{*/
/*    background-color: #00ABA9;*/
/*}*/

/*@media screen and (min-width: 760px) {*/
/*    .thumbnails-lg {*/
/*        height: 150px;*/
/*        width: 200px;*/
/*    }*/
/*}*/

/*!*viewport small query*!*/
/*@media screen and (max-width:576px){*/
/* #logo-background{*/
/* background-color: white;*/
/* }*/
/*}*/