/*Global styling*/

body {
    background-color: #E6E6E6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abel', sans-serif;
}

p {
    font-family: 'Anton', sans-serif;
}
.circle{
    width: 60px;
    height: 60px;
    border: solid white 3px ;
    border-radius: 50%;
}
#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}

/*viewport small query*/
@media screen and (max-width:576px){
    .header {
        display: flex;
    }
    h1{
    text-align: center;
        background-color: white;
}
    img{
    }
    h2 {
        text-align: center
    }
    h4{ text-align: center
    }

}